@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.spinner-widget {
  width: 165px;
  height: 165px;
  position: relative;
  margin: 7px;
  display: inline-block;
}

.spinner-widget .status {
  position: relative;
  top: -69%;
  font-size: 3em;
  text-align: center;
}

.spinner-widget svg {
  background: #cdcdcd;
  border-radius: 50%;
  transform: rotate(-90deg);
  animation: rotation 2s infinite linear;
}

.spinner-widget svg.animate {
  animation-play-state: running;
}

.spinner-widget svg.pause-animate {
  animation-play-state: paused;
}

.spinner-widget circle.outer-circle {
  fill: #cdcdcd;
  stroke: #409fff;
  stroke-width: 50;
  stroke-dasharray: 0 158;
  animation: fillup 5s linear infinite;
}

.spinner-widget circle.inner-circle {
  fill: white;
}
